/*Botones de inicio de sección y registro*/
.Boton1{
  background-color:#b34180;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 60vh;
  height: 7vh;
  font-size: 20px;
  border-radius: 10px;
  border-color: #b34180;
  display: block;
}

/*Botón para cargar la imágen*/
.Boton2{
  background-color:#b34180;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  height: 5vh;
  font-size: 15px;
  border-radius: 10px;
  border-color: #b34180;
  display: block;
}

.menu3 {
  background-color: #b34180;
  color: white;
}

.botonimagen{
  background-image:url(https://raw.githubusercontent.com/JuanManuel-GAA/equipo7_gaa_ppi2020/master/Recursos%20gu%C3%ADa/iconoAgredar.png);
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
  float: left;
  
}

.modalbg{
  background-color: #b34180;
}

